<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-900 font-sans antialiased">
    <div class="min-h-screen flex items-center justify-center p-6">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-4xl">
            <h1 class="text-3xl font-bold text-center text-blue-600 mb-4">Dashboard</h1>
            <p class="text-lg text-gray-700 text-center">{{.Message}}</p>
            
            <!-- Lien de déconnexion -->
            <div class="mt-6 text-center">
                <a href="/logout" class="text-white bg-blue-500 hover:bg-blue-600 py-2 px-4 rounded-md">Se déconnecter</a>
            </div>
        </div>
    </div>
</body>
</html>
